# Exclude version control system directories.
.git
.svn

# Directories.
**/bin/
**/obj/
**/out/

# Files.
Dockerfile*
.dockerignore
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/_test

# Exclude other temporary or unnecessary files.
.tmp/
*.log
